@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:wght@300;400;500;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: Outfit;
}

html, body, #root,* {
  cursor: default !important;
}

.active hr {
    @apply block
}

::-webkit-scrollbar {
    @apply hidden
}

@media (max-width:740px) {
    .active p{
        @apply text-white bg-primary
    }
}

@media print {
  body * {
    visibility: hidden !important;
  }

  #prescription,
  #prescription * {
    visibility: visible !important;
  }

  /* #prescription {
    position: absolute;
    left: 0;
    top: 0;
    width: 210mm;
    height: 297mm;
    margin: 0;
    padding: 20mm;
    background: white !important;
    box-shadow: none !important;
    page-break-after: always;
  } */

    #prescription {
    position: absolute;
    left: 0;
    top: 0;
    width: 210mm;           /* A4 width */
    height: 200mm;          /* A4 height */
    max-height: 297mm;
    margin: 0;
    padding: 15mm;          /* Inner space */
    overflow: hidden;       /* prevent content overflow to next page */
    background: white !important;
    box-shadow: none !important;
    border: none !important;
  }

  @page {
    size: A4;
    margin: 0;
  }

  .print\:hidden {
    display: none !important;
  }
}



